body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
h2{
margin-top: 0;
text-align: center;
}

img{
    width: 70px;
    height: 46px;
    margin: 20px;
    border-radius: 180px;
}
.container {
    background-color: #fff;
    border-radius: 10px;
    height: 75vh;
    width: 20rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    color: #5D5C92;
    padding: 2rem 3rem;
    display: flex;
    margin: 40px;
    align-items: center;
}

.form{
    align-items: center;
    width: 100%;
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.codigo-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

input[type="text"],
input[type="password"],
select {
    width: 25px;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    outline: none;
    background-color: #c5c4f1;
    margin: 10px 2px;
text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #5D5C92;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #8b8acb;
}
p{
    font-size: 12px;
    color: black;
    font-weight: 600;
    margin: 15px 40px;
}
a{
    cursor: pointer;
    color: #5D5C92;
}

.error-message {
    color: rgba(255, 0, 98, 0.482);
    font-size: 0.8em;
    position: relative;
  }
  
  .form-group.error {
    input {
      border: 1px solid rgba(255, 0, 98, 0.482);
    }
  }
  .password-input span{
      position: relative;
      left: -20px;
  }