
<body>
  <div class="container">

      <div class="form">
          <h2>Registro</h2>
          <h6>Informacion personal</h6>
              <div class="form-group" [class.error]="!nombreLleno">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" (input)="actualizarNombre($event)" [value]="Nombre" required/>
                <span *ngIf="!nombreLleno" class="error-message">¡Por favor, introduce tu nombre!</span>
              </div>

              <div class="form-group" [class.error]="!apellidosLleno">
                <label for="apellidos">Apellidos:</label>
                <input type="text" id="apellidos" name="apellidos" (input)="actualizarApellidos($event)" [value]="Apellidos" required/>
                <span *ngIf="!apellidosLleno" class="error-message">¡Por favor, introduce tus apellidos!</span>
              </div>

              <div class="form-group" [class.error]="!edadLleno">
                <label for="edad">Edad:</label>
                <input type="number" id="edad" name="edad" (input)="actualizarEdad($event)" [value]="Edad" required/>
                <span *ngIf="!edadLleno" class="error-message">¡Por favor, introduce tu edad!</span>
              </div>

              <div class="form-group" [class.error]="!identificadorLleno">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" (input)="actualizarIdentificador($event)" [value]="Identificador" required/>
                <span *ngIf="!identificadorLleno" class="error-message">¡Por favor, introduce tu correo electrónico!</span>
              </div>

              <div class="form-group" [class.error]="!contrasenaLlena">
                <label for="contraseña">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" (input)="actualizarContrasena($event)" [value]="Contrasena" required/>
                <span *ngIf="!contrasenaLlena" class="error-message">¡Por favor, introduce tu contraseña!</span>
              </div>

              <div *ngIf="loading" class="loader">Cargando...</div>

              <button type="button" (click)="registrarUsuario()">Registrarse</button>

              <input type="checkbox" id="activarForm2" (change)="activarForm2($event)">


              <label for="activarForm2">¿Agregar información bancaria?</label>
      </div>
      <div class="form2">
        <h6>Informacion bancaria (opcional)</h6>
        <div class="form-group">
          <label for="tarjetaTitular">Nombre del titular:</label>
          <input type="text" id="tarjetaTitular" name="tarjetaTitular" [disabled]="!form2Habilitado" (input)="actualizarTarjetaTitular($event)" [value]="TarjetaTitular"/>
        </div>
        <div class="form-group">
          <label for="tarjetaDireccion">Direccion de facturacion:</label>
          <input type="text" id="tarjetaDireccion" name="tarjetaDireccion" [disabled]="!form2Habilitado"(input)="actualizarTarjetaDireccion($event)" [value]="TarjetaDireccion"/>
        </div>
        <div class="form-group" >
          <label for="numeroTarjeta">Numero de tarjeta:</label>
          <input type="text" id="numeroTarjeta" name="numeroTarjeta" [disabled]="!form2Habilitado"(input)="actualizarNumeroTarjeta($event)" [value]="NumeroTarjeta"/>
        </div>
        <div class="form-group" >
          <label for="fechaVencimiento">Fecha de vencimiento:</label>
          <input type="text" id="fechaVencimiento" name="fechaVencimiento" [disabled]="!form2Habilitado"(input)="actualizarFechaVencimiento($event)" [value]="FechaVencimiento"/>
        </div>
        <div class="form-group">
          <label for="cvv">Cvv:</label>
          <input type="password" id="cvv" name="cvv"/>
        </div>
      </div>
  </div>
</body>
