body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

h2 {
    margin-top: 0; /* Permite que el margen superior del h2 se ajuste automáticamente */
    margin-bottom: 40px;
    text-align: center;
    align-self: flex-start; /* Centra el h2 en la parte superior del contenedor */
}



.container {
    background-color: #fff;
    border-radius: 10px;
    height: 75vh;
    width: 40rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    color: #5D5C92;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    justify-content: center; 
    align-items: center; 
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border 0.75s linear infinite;
  }
  
  @keyframes spinner-border {
    to {
      transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes spinner-border {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  


.form,
.form2 {
    width: 45%;
    text-align: center;
    margin-inline: 20px;
}



.form-group {
    text-align: left;
}

i {
    position: relative;
    top: -25px;
    left: 270px;
    cursor: pointer;
}

label {
    display: block;
}

input[type="text"],
input[type="password"],
input[type="email"],  
input[type="date"],
input[type="number"],
select {
    width: 18rem;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    outline: none;
    background-color: #F4F4F4;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #5D5C92;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #8b8acb;
}

p {
    font-size: 12px;
    color: black;
    margin-top: 20px;
}

a {
    font-size: 12px;
    color: #5D5C92;
}

.error-message {
    color: rgba(255, 0, 98, 0.482);
}
