
<body>
    <div class="container">
      <h2>Registro</h2>
        <div class="form">
                <div class="form-group">
                  <label for="nombre">Nombre:</label>
                  <input type="text" id="nombre" name="nombre"  required/>
                </div>
                <div class="form-group">
                  <label for="apellidos">Apellidos:</label>
                  <input type="text" id="apellidos" name="apellidos"  required/>
                </div>
                <div class="form-group">
                  <label for="edad">Edad:</label>
                  <input type="number" id="edad" name="edad"  required/>
                </div>
                <div class="form-group
                ">
                  <label for="telefono">Telefono:</label>
                  <input type="number" id="telefono" name="telefono"  required/>
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" id="email" name="email"  required/>
                </div>
                <div class="form-group
                ">
                  <label for="password">Contraseña:</label>
                  <input type="password" id="password" name="password"  required/>
                </div>
                <div class="form-group">
                  <a routerLink="/card" class="router"> ¿Deseas agregar una tarjeta?</a>
                </div>
                <button type="button" (click)="redireccionar()">Registrarse</button>
        </div>
    </div>
</body>





