body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    background-color: #F1F7FF; 
    width: 450px; 
    height: 600px;
    color: #1B3C73;
    margin: auto; 
    padding: 20px; 
    border-radius: 10px; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-family: Arial, sans-serif;
    
}

a {
    color: #0366d6; /* Color del texto del enlace */
    text-decoration: underline; /* Subrayado para indicar que es un enlace */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el enlace */
  }
  

p {
    color: #1B3C73; 
    text-align: center;
  }

  .router{
    margin: auto;
    color: #1B3C73; 
}
  

.header-title {
    color: #1B3C73; 
    font-size: 24px; 
    font-family: Arial, sans-serif; 
    font-weight: bold;
    text-align: center; 
    margin: 10px;
}



.form {
    padding: 0;
    margin: 0;
}

.form-group {
    margin-bottom: 20px;
    width: 20vw;
}




label {
    display: block;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select {
    width: 430px;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    outline: none;
}


button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #1B3C73; 
    color: #fff; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #1B3C73;
}


