<body>
    <div class="container">
        <div class="header-title">Confirmar correo electrónico</div>
        <img src=".\assets\images\icono5.png" alt="icono" class="icono" />
        <form class="form" #myForm="ngForm">
            <p>Ingrese el código de verificación enviado a su correo electrónico.</p>
            <div class="form-group">
                <label for="number">Código de verificación:</label>
                <input type="text" id="number" name="number" [(ngModel)]="verificationCode" required minlength="6"
                    maxlength="6" pattern="[0-9]*" #number="ngModel" />
                <div *ngIf="number.invalid && (number.dirty || number.touched)" class="alert alert-danger">
                    <div *ngIf="number.errors && number.errors['required']">El código de verificación es obligatorio.
                    </div>
                    <div *ngIf="number.errors && number.errors['minlength']">El código de verificación debe tener al
                        menos 6 caracteres.</div>
                    <div *ngIf="number.errors && number.errors['maxlength']">El código de verificación no debe tener más
                        de 6 caracteres.</div>
                    <div *ngIf="number.errors && number.errors['pattern']">El código de verificación debe contener solo
                        números.</div>
                </div>
            </div>
            <button type="submit" [disabled]="myForm.invalid">Siguiente</button>
        </form>
    </div>
</body>