<body>
    <div class="container">
      <h2>Añadir tarjeta debito/credito</h2>
        <div class="form">
                <div class="form-group">
                  <label for="nombre">Nombre del titular:</label>
                  <input type="text" id="nombre" name="nombre"  required/>
                </div>
                <div class="form-group">
                  <label for="apellidos">Numero de tarjeta:</label>
                  <input type="number" id="apellidos" name="apellidos"  required/>
                </div>
                <div class="form-group">
                  <label for="edad">Fecha de vencimiento:</label>
                  <input type="number" id="edad" name="edad"  required/>
                </div>
                <div class="form-group
                ">
                  <label for="telefono">Cvv:</label>
                  <input type="number" id="telefono" name="telefono"  required/>
                </div>
                <button type="button">Registrarse</button>
        </div>
    </div>
</body>





